.idea
.vscode
.zed
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
web/node_modules
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
web/bun.lock
plans

electron/node_modules
electron/dist
data/
.gomodcache/
.gocache-temp
.gopath

# 编译产物
bin/new-api.exe
bin/*.exe
bin/*.db
bin/logs/

# Docker 镜像文件
*.tar
